#warped {
  position: relative;
  display: block;
  width: 602px;
  height: 509px;
}

#warped > span[class^="w"]:nth-of-type(n + 0) {
  display: block;
  position: absolute;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

#warped span {
  font-family: "ABeeZee";
  font-size: 38px;
  font-weight: regular;
  font-style: normal;
  line-height: 0.65;
  white-space: pre;
  overflow: visible;
  padding: 0px;
}

#warped .w0 {
  -moz-transform: rotate(3.64rad);
  -webkit-transform: rotate(3.64rad);
  -o-transform: rotate(3.64rad);
  -ms-transform: rotate(3.64rad);
  transform: rotate(3.64rad);
  width: 24px;
  height: 25px;
  left: 216.47px;
  top: 314.17px;
}

#warped .w1 {
  -moz-transform: rotate(3.84rad);
  -webkit-transform: rotate(3.84rad);
  -o-transform: rotate(3.84rad);
  -ms-transform: rotate(3.84rad);
  transform: rotate(3.84rad);
  width: 21px;
  height: 25px;
  left: 195.37px;
  top: 298.58px;
}

#warped .w2 {
  -moz-transform: rotate(4rad);
  -webkit-transform: rotate(4rad);
  -o-transform: rotate(4rad);
  -ms-transform: rotate(4rad);
  transform: rotate(4rad);
  width: 11px;
  height: 25px;
  left: 185.49px;
  top: 283.79px;
}

#warped .w3 {
  -moz-transform: rotate(4.19rad);
  -webkit-transform: rotate(4.19rad);
  -o-transform: rotate(4.19rad);
  -ms-transform: rotate(4.19rad);
  transform: rotate(4.19rad);
  width: 31px;
  height: 25px;
  left: 160.49px;
  top: 262.6px;
}

#warped .w4 {
  -moz-transform: rotate(4.42rad);
  -webkit-transform: rotate(4.42rad);
  -o-transform: rotate(4.42rad);
  -ms-transform: rotate(4.42rad);
  transform: rotate(4.42rad);
  width: 23px;
  height: 25px;
  left: 151.98px;
  top: 233.23px;
}

#warped .w5 {
  -moz-transform: rotate(4.6rad);
  -webkit-transform: rotate(4.6rad);
  -o-transform: rotate(4.6rad);
  -ms-transform: rotate(4.6rad);
  transform: rotate(4.6rad);
  width: 15px;
  height: 25px;
  left: 151.29px;
  top: 209.72px;
}

#warped .w6 {
  -moz-transform: rotate(4.77rad);
  -webkit-transform: rotate(4.77rad);
  -o-transform: rotate(4.77rad);
  -ms-transform: rotate(4.77rad);
  transform: rotate(4.77rad);
  width: 21px;
  height: 25px;
  left: 147.74px;
  top: 186.76px;
}

#warped .w7 {
  -moz-transform: rotate(4.94rad);
  -webkit-transform: rotate(4.94rad);
  -o-transform: rotate(4.94rad);
  -ms-transform: rotate(4.94rad);
  transform: rotate(4.94rad);
  width: 15px;
  height: 25px;
  left: 154.07px;
  top: 164.03px;
}

#warped .w8 {
  -moz-transform: rotate(5.07rad);
  -webkit-transform: rotate(5.07rad);
  -o-transform: rotate(5.07rad);
  -ms-transform: rotate(5.07rad);
  transform: rotate(5.07rad);
  width: 11px;
  height: 25px;
  left: 161.31px;
  top: 146.82px;
}

#warped .w9 {
  -moz-transform: rotate(5.28rad);
  -webkit-transform: rotate(5.28rad);
  -o-transform: rotate(5.28rad);
  -ms-transform: rotate(5.28rad);
  transform: rotate(5.28rad);
  width: 35px;
  height: 25px;
  left: 161.85px;
  top: 121.84px;
}

#warped .w10 {
  -moz-transform: rotate(5.51rad);
  -webkit-transform: rotate(5.51rad);
  -o-transform: rotate(5.51rad);
  -ms-transform: rotate(5.51rad);
  transform: rotate(5.51rad);
  width: 20px;
  height: 25px;
  left: 189.92px;
  top: 96.78px;
}

#warped .w11 {
  -moz-transform: rotate(5.67rad);
  -webkit-transform: rotate(5.67rad);
  -o-transform: rotate(5.67rad);
  -ms-transform: rotate(5.67rad);
  transform: rotate(5.67rad);
  width: 11px;
  height: 25px;
  left: 210.24px;
  top: 83.77px;
}

#warped .w12 {
  -moz-transform: rotate(5.79rad);
  -webkit-transform: rotate(5.79rad);
  -o-transform: rotate(5.79rad);
  -ms-transform: rotate(5.79rad);
  transform: rotate(5.79rad);
  width: 13px;
  height: 25px;
  left: 223.72px;
  top: 74.88px;
}

#warped .w13 {
  -moz-transform: rotate(5.93rad);
  -webkit-transform: rotate(5.93rad);
  -o-transform: rotate(5.93rad);
  -ms-transform: rotate(5.93rad);
  transform: rotate(5.93rad);
  width: 15px;
  height: 25px;
  left: 240.06px;
  top: 67.17px;
}

#warped .w14 {
  -moz-transform: rotate(6.06rad);
  -webkit-transform: rotate(6.06rad);
  -o-transform: rotate(6.06rad);
  -ms-transform: rotate(6.06rad);
  transform: rotate(6.06rad);
  width: 10px;
  height: 25px;
  left: 259.35px;
  top: 62.27px;
}

#warped .w15 {
  -moz-transform: rotate(6.21rad);
  -webkit-transform: rotate(6.21rad);
  -o-transform: rotate(6.21rad);
  -ms-transform: rotate(6.21rad);
  transform: rotate(6.21rad);
  width: 21px;
  height: 25px;
  left: 274.12px;
  top: 59.32px;
}

#warped .w16 {
  -moz-transform: rotate(6.41rad);
  -webkit-transform: rotate(6.41rad);
  -o-transform: rotate(6.41rad);
  -ms-transform: rotate(6.41rad);
  transform: rotate(6.41rad);
  width: 23px;
  height: 25px;
  left: 300.06px;
  top: 60.13px;
}

#warped .w17 {
  -moz-transform: rotate(6.61rad);
  -webkit-transform: rotate(6.61rad);
  -o-transform: rotate(6.61rad);
  -ms-transform: rotate(6.61rad);
  transform: rotate(6.61rad);
  width: 23px;
  height: 25px;
  left: 327.26px;
  top: 66.57px;
}

#warped .w18 {
  -moz-transform: rotate(6.78rad);
  -webkit-transform: rotate(6.78rad);
  -o-transform: rotate(6.78rad);
  -ms-transform: rotate(6.78rad);
  transform: rotate(6.78rad);
  width: 11px;
  height: 25px;
  left: 353.36px;
  top: 75.46px;
}

#warped .w19 {
  -moz-transform: rotate(6.89rad);
  -webkit-transform: rotate(6.89rad);
  -o-transform: rotate(6.89rad);
  -ms-transform: rotate(6.89rad);
  transform: rotate(6.89rad);
  width: 11px;
  height: 25px;
  left: 366.94px;
  top: 83.9px;
}

#warped .w20 {
  -moz-transform: rotate(7.05rad);
  -webkit-transform: rotate(7.05rad);
  -o-transform: rotate(7.05rad);
  -ms-transform: rotate(7.05rad);
  transform: rotate(7.05rad);
  width: 23px;
  height: 25px;
  left: 377.81px;
  top: 97.98px;
}

#warped .w21 {
  -moz-transform: rotate(7.26rad);
  -webkit-transform: rotate(7.26rad);
  -o-transform: rotate(7.26rad);
  -ms-transform: rotate(7.26rad);
  transform: rotate(7.26rad);
  width: 23px;
  height: 25px;
  left: 395.63px;
  top: 119.52px;
}

#warped .w22 {
  -moz-transform: rotate(7.45rad);
  -webkit-transform: rotate(7.45rad);
  -o-transform: rotate(7.45rad);
  -ms-transform: rotate(7.45rad);
  transform: rotate(7.45rad);
  width: 18px;
  height: 25px;
  left: 410.22px;
  top: 141.93px;
}

#warped .w23 {
  -moz-transform: rotate(7.63rad);
  -webkit-transform: rotate(7.63rad);
  -o-transform: rotate(7.63rad);
  -ms-transform: rotate(7.63rad);
  transform: rotate(7.63rad);
  width: 21px;
  height: 25px;
  left: 416.2px;
  top: 165.22px;
}

#warped .w24 {
  -moz-transform: rotate(7.82rad);
  -webkit-transform: rotate(7.82rad);
  -o-transform: rotate(7.82rad);
  -ms-transform: rotate(7.82rad);
  transform: rotate(7.82rad);
  width: 20px;
  height: 25px;
  left: 419.92px;
  top: 190.48px;
}

#warped .w25 {
  -moz-transform: rotate(7.95rad);
  -webkit-transform: rotate(7.95rad);
  -o-transform: rotate(7.95rad);
  -ms-transform: rotate(7.95rad);
  transform: rotate(7.95rad);
  width: 6px;
  height: 25px;
  left: 426.33px;
  top: 208.46px;
}

#warped .w26 {
  -moz-transform: rotate(8.07rad);
  -webkit-transform: rotate(8.07rad);
  -o-transform: rotate(8.07rad);
  -ms-transform: rotate(8.07rad);
  transform: rotate(8.07rad);
  width: 18px;
  height: 25px;
  left: 417.59px;
  top: 225.23px;
}

#warped .w27 {
  -moz-transform: rotate(8.22rad);
  -webkit-transform: rotate(8.22rad);
  -o-transform: rotate(8.22rad);
  -ms-transform: rotate(8.22rad);
  transform: rotate(8.22rad);
  width: 11px;
  height: 25px;
  left: 415.41px;
  top: 243.86px;
}

#warped .w28 {
  -moz-transform: rotate(8.38rad);
  -webkit-transform: rotate(8.38rad);
  -o-transform: rotate(8.38rad);
  -ms-transform: rotate(8.38rad);
  transform: rotate(8.38rad);
  width: 23px;
  height: 25px;
  left: 399.88px;
  top: 263.67px;
}

#warped .w29 {
  -moz-transform: rotate(8.55rad);
  -webkit-transform: rotate(8.55rad);
  -o-transform: rotate(8.55rad);
  -ms-transform: rotate(8.55rad);
  transform: rotate(8.55rad);
  width: 13px;
  height: 25px;
  left: 391.65px;
  top: 282.45px;
}

#warped .w30 {
  -moz-transform: rotate(8.72rad);
  -webkit-transform: rotate(8.72rad);
  -o-transform: rotate(8.72rad);
  -ms-transform: rotate(8.72rad);
  transform: rotate(8.72rad);
  width: 23px;
  height: 25px;
  left: 370.45px;
  top: 298.73px;
}

#warped .w31 {
  -moz-transform: rotate(8.92rad);
  -webkit-transform: rotate(8.92rad);
  -o-transform: rotate(8.92rad);
  -ms-transform: rotate(8.92rad);
  transform: rotate(8.92rad);
  width: 22px;
  height: 25px;
  left: 348.32px;
  top: 314.28px;
}
